# The mod_rewrite begins here.

RewriteEngine on

# This doesn't apply to existing directories. Folders that exist shouldn't change anything, and won't trigger the rule.

RewriteCond %{REQUEST_FILENAME} !-d

# Look for files in the directory with an .html file extension.

RewriteCond ${REQUEST_FILENAME}\.html -f

# show the page here that has an .html file extension.

RewriteRule ^(.*)$ $1.html [NC,L]

