/* Body & Essentials */

body {
    background-image: url(dacportfoliobg1.png);
    background-size: cover;
    font-family: sans-serif;
    color: white;
}
  p {
    font-size: 12pt;
  }
  a {
    color:white;
  }

  /* Announcement Card */

  #announcement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 12px;

    width: 1058px;
    height: 48px;
    background-color: #F49526;
    color: #000000;
    box-shadow: 0px 8px 48px rgba(8, 4, 9, 0.5);
    border-radius: 24px;

  }

  /* Cards */

  .cardbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 12px 12px;
    gap: 12px;

    width: 300px;
    height: 200px;
    box-shadow: 0px 8px 48px rgba(8, 4, 9, 0.5);
    border-radius: 24px;
  }

  .cardboxheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 276px;
    height: 24px;
    font-size: 20pt;
  }
  /* Portfolio Card */

  #portfolio {
    background: linear-gradient(293.96deg, #745531 0%, #5E3174 100%);
  }

  /* Frequently Asked */

  #frequentlyasked