/* Body & Essentials */

body {
    background-image: url(../media/dacportfoliobg1.png);
    background-size: cover;
    font-family: sans-serif;
    color: white;
}
  p {
    font-size: 12pt;
  }
  a {
    color:white;
  }

  /* Announcement Card */
  /* Optional, use in cases of emergency, news, or getting the word out on something. */
  /* Making it invisible/hidden is easy, just set 'visibility: hidden' and 'display: none'. */
  /* If you have something to say however, just set 'visibility: visible' and 'display: flex'. */
  /* Feel free to customize the colors as well, however the standard gold is best. */

  #announcement {
    visibility: hidden;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 12px;

    width: 1058px;
    height: 48px;
    background-color: #F49526;
    color: #000000;
    box-shadow: 0px 8px 48px rgba(8, 4, 9, 0.5);
    border-radius: 24px;

  }

  /* Cards */

  .cardbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 12px 12px;
    gap: 12px;

    width: 300px;
    height: 200px;
    box-shadow: 0px 8px 48px rgba(8, 4, 9, 0.5);
    border-radius: 24px;
  }

  .cardboxheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: auto;
    max-height: 24px;
    font-size: 20pt;
  }

  .cardbox a {
    text-decoration-line: underline;
  }

  /* Profile Card */

  #profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 358px;
    height: 450px;

    filter: drop-shadow(0px 8px 48px rgba(8, 4, 9, 0.5));
  }

  #profilebanner {
    box-sizing: border-box;

    width: 358px;
    height: 150px;
    
    background: url(../media/projects.png);
    background-size: cover;
    border-width: 5px 5px 0px 5px;
    border-style: solid;
    border-color: #5E3174;
    border-radius: 24px 24px 0px 0px;
    
  }

  #profilecontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 24px;
    
    width: 358px;
    height: 300px;
    
    /* meadow/darker */
    
    background: #5F3174;
    border-radius: 0px 0px 24px 24px;
  }

  /* Portfolio Card */

  #portfolio {
    background: linear-gradient(293.96deg, #745531 0%, #5E3174 100%);
  }

  /* Frequently Asked Card */

  #frequentlyasked {
    background: linear-gradient(293.96deg, #743165 0%, #5E3174 100%);
  }

  /* What's Happening Card */

  #whatshappening {
    background: linear-gradient(293.96deg, #363174 0%, #5E3174 100%);
  }

  #freelancing {
    background: linear-gradient(293.96deg, #317448 0%, #5E3174 100%);
  }