body {
    background-color: rgb(36, 16, 52);
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
