body {
    background-image: url(../media/background.png);
    background-size: cover;
    font-family: sans-serif;
    color: white;

    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 24px;
}

  #content {
    display: flex;
    flex-direction: column;
    padding: auto;
    justify-content: center;
    margin: 24px;
    max-width: 60%;
    height: 100%;
  }

  #picture {
    display: flex;
    min-width: 40%;
    height: fit-content;
    align-self: flex-end;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size 12px;
  }

  a {
    color:white;
  }

  @media screen and (max-width: 1000px) {
    body {
      flex-direction: column;
    }
  
    #content {
      min-height: 80%;
      width: auto;
    }
  
    #picture {
      min-height: 20px;
      width: auto;
    }
  }